name: Release

on:
  workflow_dispatch:

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read

  macos:
    needs: [ci]
    uses: ./.github/workflows/macos.yml
    permissions:
      contents: write

  cd:
    needs: [ci]
    uses: ./.github/workflows/deploy.yml
    permissions:
      contents: read
      pages: write
      id-token: write
